.details-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.details {
  margin-bottom: 100px;
  ::ng-deep mwl-gauge {
    width: 150px;
    height: 150px;
    display: flex;
    padding: 10px;

    .dial {
      stroke-width: 10;
    }

    .value {
      stroke-dasharray: none;
      stroke-width: 13;
    }

    .value-text {
      fill: #fff;
      font-weight: 700;
      font-size: 24px;
    }
  }

  .game-gauge {
    position: absolute;
    top: 50px;
    right: 0;

    &-label {
      font-size: 20px;
      color: #fff;
      position: relative;
      bottom: 60px;
    }
  }
}

.game {
  &-banner {
    overflow: hidden;
    &-img {
      width: 100%;
      height: 100vh;
      filter: blur(1px);
    }
  }

  &-content {
    text-align: center;
    position: relative;
  }

  &-header {
    @media screen and (max-width: 490px) {
      text-align: left;
    }
    &-title {
      font-size: 70px;
      color: #fff;
      font-weight: 700;
      line-height: 70px;
      @media screen and (max-width: 490px) {
        font-size: 60px;
        line-height: 70px;
      }
      @media screen and (min-width: 1500px) {
        font-size: 110px;
        line-height: 90px;
      }
    }

    &-release-date {
      color: #fff;
      font-weight: 700;
      @media screen and (min-width: 1500px) {
        font-size: 50px;
        line-height: 90px;
      }
    }

    &-genres {
      color: #fff;
      font-weight: 700;
      @media screen and (min-width: 1500px) {
        font-size: 50px;
        line-height: 90px;
      }
    }
  }
}
.spinner {
  margin: auto;
  margin-top: 15px;
}

.two {
  margin: auto;
}

.game-content-container {
  position: relative;
}
